<!doctype html>
<html>

<head>
  <title>Entry Form</title>
</head>

<body>

    <h1>Mad Libs</h1>

    <form action='/madlib2' method='post'>
        <label for='field-adjective'>Choose an adjective: </label>
            <input type='text' name='adjective' id='field-adjective'>
            <br>
            <br>

        <label for='field-adverb'>Choose an adverb: </label>
            <input type='text' name='adverb' id='field-adverb'>
            <br>
            <br>

        <label for='field-body-part'>Choose a body part: </label>
            <input type='text' name='body-part' id='field-body-part'>
            <br>
            <br>

        <label for='field-noun'>Choose a noun: </label>
            <input type='text' name='noun' id='field-noun'>
            <br>
            <br>

        <label for='field-plural-noun'>Choose a plural noun: </label>
            <input type='text' name='plural-noun' id='field-plural-noun'>
            <br>
            <br>

        <label for='field-dwarfs'> Choose any number of dwarfs: </label>
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Doc'>Doc
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Dopey'>Dopey
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Sleepy'>Sleepy
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Sneezy'>Sneezy
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Happy'>Happy
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Grumpy'>Grumpy
            <input type='checkbox' name='dwarfs' class='field-dwarfs' value='Bashful'>Bashful

            <br>
            <br>

        <input type='submit'>

    </form>

</body>

</html>
