<!doctype html>
<html>

<head>
  <title>San Francisco Adventure</title>
</head>

<body>

    <h1>A San Francisco Adventure</h1>

    <article>
        <p>
            {{ dwarfs }} were {{ adverb }} walking up Sutter Street, looking at all the {{ nouns }}.
        </p>
        <p>
            "I'm {{ adjective }}," said {{ dwarf }}, "and my {{ body }} hurt(s). I want to ride on the cable car."
        </p>
        <p>
            So they did.
        </p>
    </article>

</body>

</html>

    <!-- {{ dwarfs }} -->
    <!-- {{ nouns }} -->
    <!-- {{ adjective }}  -->
    <!-- {{ noun }} -->
    <!-- {{ body }}  -->
    <!-- {{ dwarf }} -->
    <!-- {{ adverb }} -->

